<%- include('partials/header.ejs') -%>

<h1>Welcome to Bikes Galore</h1>

<p> 
    <%= homeStartingContent %> 
</p>


    <% posts.forEach( post => { %>
        <h2> <%= post.postHeading %> </h2>
        <p> <%= post.postContent.slice(0, 100)   %>... 
            <a href="posts/<%= post.postEndpoint %>">read more</a> 
        </p>
    <% }) %>


<%- include('partials/footer.ejs') -%>